#tx{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    width: 540px;
    height: 40px;
    border-radius: 0px;;
}
.btn{
    font-family: 'Roboto', sans-serif;
    width: 200px;
    height: 40px;
    border-radius: 0px;
    font-size: 25px;
}
#o{
    font-size: 30px;
    font-family: 'Roboto', sans-serif; 
}
body{
    font-size: 20px;
    font-family:'Roboto', sans-serif;
}